* {box-sizing:border-box}

body {
  margin: 0 auto;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  padding: 2em;
  max-width: 760px;
  line-height: 1.5;
  color: #444;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

p {
  margin: 24px 0;
}

label {
  font-size: 17px;
}

input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  border-bottom: 2px solid #444;
  font-weight: bold;
  width: 180px;
  font-size: inherit;
  margin-bottom: 24px;
}

textarea, #output {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#output {
  border: 1px solid #444;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow: auto;
}
textarea {
  background: transparent;
  color: transparent;
  caret-color: black !important;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
}

h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
}

button {
  border: 2px solid #444;
  background: white;
  font-family: sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  height: 40px;
  min-width: 100px;
  vertical-align: middle;
  margin-top: 8px;
}

button:hover {
  background: blue;
  color: white;
}

a:link, a:visited {
  color: inherit;
  background: #7fffd46e;
}
a:hover {
  background: aquamarine;
}

footer {
  margin-top: 24px;
}

.box-100 {
  float: left;
  width: 100%;
}

.box-50 {
  float: left;
  width: 50%;
}

#tempo-slider {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 23px;
  background: black;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border: 0px;
}

.slider:hover {
  opacity: 0.8;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 23px;
  background: red;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 23px;
  background: red;
  cursor: pointer;
}
